aclocal.m4
/autom4te.cache
/config*
/Makefile
/Makefile.in
/stamp-h1
/src/Makefile
/src/Makefile.in
/src/.deps
/src/ratlang
/src/env-unit-test
/src/value-unit-test
/src/node-unit-test
/src/ratlang_bison.c
/src/ratlang_bison.h
/src/ratlang_bison.output
/src/ratlang_flex.c
*.o
